h1{
    text-align: center;
}
.d-flex{
    display: flex;
}
.justify-evenly{
    justify-content: space-evenly;
}
li{
    list-style-type: none;
    font-weight: 200;
    cursor: pointer;
    font-size: 1rem;
    transition: 300ms;
}
li:hover{
    font-size: 2rem;
}

@media (max-width: 768px) {
    li{
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar{
        color: red;
    }
    .navbar{
      display: none;
    }
}

@media (min-width: 1024px) {
    
}